<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<table th:border="1">
    <tr>
        <th>Year</th>
        <th>Model</th>
        <th>Class</th>
    </tr>
    <tr th:each="car : ${cars}">
        <td th:text="${car.getYear()}"></td>
        <td th:text="${car.getModel()}"></td>
        <td th:text="${car.getModelClass()}"></td>
    </tr>
</table>
</body>
</html>